/*font-family: 'Ubuntu', sans-serif;
font-family: 'Nunito', sans-serif;*/
/*-----------------GENERALS---------------------*/
#header{
    grid-area: header;
    position: relative;
    
}
#nav{
    grid-area: nav;
    list-style: none;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
#article{
    grid-area: article;
    margin-top: 20px;
}
#side{
    grid-area: side;
}
#footer{
    grid-area: footer;
    box-shadow: 0px -9px 37px -22px rgba(77,77,77,1);
    background: url("img/footer/footer3.jpg") no-repeat center / cover;
    margin: 0;
    height: 300px;
    color: white;
    
}
body{
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav article side"
    "footer footer footer";
    grid-template-rows: 110px 1fr 60px;
    grid-template-columns: 20% 1fr 15%;
    font-family: 'Nunito', sans-serif;
    height: 100%;
    grid-gap: 3vh;
    margin: 0 auto;
    
}
.container{
    max-width:775px;
    width:100%; 
    margin: 0 auto;
    
}

/*-----------------------HEADER-------------------*/

.header_flex{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center; 
}
.logo_wrap{
    height:86px; 
}
.logo{
    height: 42px;
    position: relative;
    top: 10px;
    right: 5px;
}
.logo:hover{
    cursor: pointer;
}
.logo_headline{
    font-size:32px;
    border-left: 2px solid #dbdbdb;
    padding: 0 0 0 7px;
    display: inline-block;
}

.nav_header_link{
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #74afed;
    border-radius:37px;
    padding: 10px 15px;
    width: 100%;
    text-align:center;
    margin-left:15px;
    cursor: pointer;
    position: relative;
}

.nav_header_link:first-child{
    margin-left:0
}

.nav_header_link:hover{
    background-color: #74afed;
    color: white;
    transition: .17s all ease;
}

/*------------------NAVIGATION-------------------------*/

.nav_element{
    background-color:#f5f5f5;
    margin-bottom: 10px;
    padding-left: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.nav_element:hover{
    background-color: #74afed;
    color: white;
    transition: .17s all ease;
}

/*-----------------------ARTICLE----------------------*/
.home_page_paragragh{
    font-family: 'Ubuntu', sans-serif;
    font-size:1.2rem;
    text-align: left;
    line-height: 1.5rem;
}

.route_map{
    width: 85%;
    display: block;
    margin: 10px auto;
}
/*-------------------ROUTE-----------------------*/

.arrow_down{
    float:right;
    height: 20px;
    transition: .2s all ease;
}
.arrow_down:hover{
    fill: white;
}
.route_headline{
    font-size: 24px;
}


.details{
    margin: 5px 0px;
    border-bottom: 1px solid #74afed;
    
    text-align: left;
    cursor: pointer;
    display: block;
    width: 135px;
    padding: 5px 8px;
    text-decoration: none;
}
.details:hover{
    background-color: #74afed;
    color: white;
    transition: .17s all ease;
}
.route_details{
    display: none;
    transition: all 5s ease;
}
.route_showplaces{
    padding-left: 20px;
}
.route_showplace_link{
    text-decoration: none;
    color:#318cee;
    cursor: pointer;
}
.route_showplace_link:hover{
    color: #3e4faf;
    border-bottom:1px solid #474747;
}




/*------------------SIDE-----------------*/

.anchor_button{
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 25px;
    background-color: white;
    padding: 5px;
    transition: all .15s ease;
    display: none;
}
.anchor_button:hover{
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.25);
    cursor: pointer;
}

/*----------------------Transport---------------------------*/


/*---------------------FOOTER--------------------------*/

#footer{
    display: flex;
    flex-wrap: wrap;
}
.footer_section{
    
    width: 50%;
    height: 100%;
}

.footer_section_headline{
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    font-size: 20px;
}
.nav_footer{
    display: flex;
    
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    
}

.footer_nav_element{
    font-size:1.2rem;
    color: white;
    margin-top: 16px;
    
    text-align: center;
    padding-left: 5px;
    cursor: pointer;
    text-decoration: none;
    
}
.footer_nav_element:hover{
    font-weight: 700;
    transition: all .2s ease;
}

.footer_icons{
    width: 100%;
    padding-bottom: 10px;
    background-color: #474747;
    
}

.icons_wrap{
    margin: 0 auto;
    flex-direction: row;
    justify-content:space-evenly;
    display: flex;
    width: 33%;
}

/*--------------------Media_Queries----------------*/

@media screen and (max-width:760px){
    .header_flex{
        margin-top: 15px;
    }
    .logo_wrap{
        margin-bottom: 25px;
        height: unset;
    }
    .logo{
        height: 86px;
    }
    .logo_headline{
        width: 400px;
        text-align: left;
        padding-left: 10px;
        border-left: 2px solid #dbdbdb;
    }
    .nav_header_link{
        margin: 0 5px 5px 0;
        
    }

     #footer{
         flex-wrap: wrap;
     }
     .footer_section_headline{
         margin-bottom: 2%;
     }
     .footer_nav_element{
         margin-top: 4%;
         
     }
     .footer_section{
        border-left: none;
        width: 50%;
     }
     .footer_section:last-child .footer_section_headline{
         display: none;
     }
      .icons_wrap{
          width: 75%;
      }


}
@media screen and (max-width:888px){
    #nav{
        display: none;
    }
    .home_page_headline{
        font-size: 1.2rem;
    }
}
@media screen and (max-width:1100px){
    body{
        display:block;
        margin: 0 auto;
    }
    p{
        text-align: center;
        width: 75%;
        margin: 5px auto 15px auto;
        
    }
    .home_page_headline{
        text-align: center;
    }
    #header{
        text-align: center;
        
    }

    .nav_header{
        
        display: flex;
        flex-flow: row wrap;
        width:100%;
        justify-content: center;
    }
    .nav_header_link{
        display: block;
        
        margin: 0 10px 10px 0;
        width: 33%;
        
    }

    #nav{
        flex-direction: row;
        margin: 25px auto 0px;
        justify-content: space-evenly;
        width: 75%;
    }
    
    .nav_headline{
        display: none;
    }

    .nav_element{
        padding:5px;
        margin-right: 10px;
        background-color: #fff;
        text-align: center;
        border-bottom: 1px solid #74afed;
        border-radius: 1px;
        display: inline-block;
        vertical-align: 50%;
    }
    .route_headline{
        text-align: center;
    }
    .details{
        margin: 5px auto;
    }
    .showplaces{
        margin: 0 10%;
    }
}

  
@media screen and (max-width:500px){
    .logo{
        top: 2vw;
        height: 14vw;
    }
    
    .logo_wrap{
        margin:0;
        height: auto;
    }
    .logo_headline{
        font-size: 5vw;
        width: 55%;
    }
     .home_page_headline{
        font-size: 1.2rem;/*!!!!!!!!!!!*/
    }
    .header_flex{
        margin-top: 15px;
    }
    .home_page_paragragh{
        font-size: 1em;
    }
    .icons_wrap{
        width: 100%;
    }
    .nav_header_link{
        width: 60%;
        margin-top: 10px;
    }
   
}
