/*font-family: 'Ubuntu', sans-serif;
font-family: 'Nunito', sans-serif;*/
/*-----------------GENERALS---------------------*/
#header{
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: header;
    position: relative;
    
}
#nav{
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-area: nav;
    margin-left: 15px;
}
#article{
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 3;
    grid-column: 3;
    grid-area: article;
    margin-top: 20px;
}
#side{
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 5;
    grid-column: 5;
    grid-area: side;
}
html.webplossless #footer{
    background: url("../img/webp/footer/footer3.webp") no-repeat center / cover;
}
#footer{
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: footer;
    -webkit-box-shadow: 0px -9px 37px -22px rgba(77,77,77,1);
            box-shadow: 0px -9px 37px -22px rgba(77,77,77,1);
    background: url("../img/footer/footer3.jpg") no-repeat center / cover;
    margin: 0;
    height: 300px;
    color: white;
    
}


body{
    display: -ms-grid;
    display: grid;
        grid-template-areas: 
    "header header header"
    "nav article side"
    "footer footer footer";
    -ms-grid-rows: 110px 3vh 1fr 3vh 60px;
    grid-template-rows: 110px 1fr 60px;
    -ms-grid-columns: 20% 3vh 1fr 3vh 15%;
    grid-template-columns: 20% 1fr 15%;
    font-family: 'Nunito', sans-serif;
    height: 100%;
    grid-gap: 3vh;
    margin: 0 auto;
    
}
.container{
    max-width:775px;
    width:100%; 
    margin: 0 auto;
    
}

/*-----------------------HEADER-------------------*/

.header_flex{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; 
            height: 88%;
    background: url("../img/backgroundv41.png") no-repeat center / cover;
}
.home_page_headline, .logo_headline{
    font-family: 'Source Sans Pro', sans-serif;
}
.logo_wrap{
    height:86px; 
}
.logo{
    height: 42px;
    position: relative;
    top: 10px;
    right: 5px;
}
.logo:hover{
    cursor: pointer;
}
.logo_headline{
    font-size:32px;
    border-left: 2px solid #f5f5f5ec;
    padding: 0 0 0 7px;
    display: inline-block;
    color: #4d4d4d;
}

.nav_header_link{
    background-color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #48b9ff;
    border-radius:37px;
    padding: 10px 15px;
    width: 100%;
    text-align:center;
    margin-left:15px;
    cursor: pointer;
    position: relative;
}

.nav_header_link:first-child{
    margin-left:0
}

.nav_header_link:hover{
    background-color: #48b9ff;
    color: white;
    -webkit-transition: .17s all ease;
    -o-transition: .17s all ease;
    transition: .17s all ease;
}
/*------------------SIDE-----------------*/

.anchor_button{
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 25px;
    background-color: white;
    padding: 5px;
    -webkit-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
    display: none;
}
.anchor_button:hover{
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.25);
    cursor: pointer;
}
/*------------------NAVIGATION-------------------------*/
.nav{
    list-style: none;
    
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}
.nav_element{
    background-color:#f5f5f5;
    margin-bottom: 10px;
    padding-left: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.nav_element:hover{
    background-color: #48b9ff;
    color: white;
    -webkit-transition: .17s all ease;
    -o-transition: .17s all ease;
    transition: .17s all ease;
}
/*------------CONTENT--------*/
.home_page_paragragh{
    
    font-size:1.2rem;
    text-align: left;
    line-height: 1.5rem;
}
#description{
    margin-bottom: 15px;
}
/*--------------------------Catalog--------------------------*/

#catalog > div{
    position: relative;
    margin: 0 10px 25px;
    border: 1px solid #f5f5f5ec;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(219,219,219,0.29);
    box-shadow: 0px 0px 2px 2px rgba(219,219,219,0.29);
}
.item_headline{
    text-align: center;
   font-size: 20px;
   font-weight: bold;
    margin: 10px 0 0;
    text-decoration: none;
    color: black;
    display: block;
    -webkit-text-decoration-color: #48b9ff;
            text-decoration-color: #48b9ff;
}
.item_headline:hover{
    -webkit-transition: .17s all ease;
    -o-transition: .17s all ease;
    transition: .17s all ease;
    text-decoration: underline;
    -webkit-text-decoration-color: #48b9ff;
            text-decoration-color: #48b9ff;
}
.item_desc_wrap{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}
.item_image{
    height: 125px;
    margin: 37.5px 15px;
}
.item_desc{
    -webkit-align-self:center;
        -ms-flex-item-align:center;
                -ms-grid-row-align:center;
            align-self:center;
    margin: 15px auto 0 auto;
    width: 70%;

} 

.item_subdesc{
    width: 70%;
    margin: 15px;
    list-style: circle; 
}
.item_subdesc > li > span{
    font-weight: bold;
}
.item_subdesc > li > a{
    color: black;
    text-decoration: none;
}
.item_subdesc > li > a:hover{
    border-bottom: 1px solid #48b9ff;
}

.details{
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
    border-radius: 5px;
    padding: 5px 8px;
    color: black;
    border: 1px solid #48b9ff;
    text-decoration: none;
}


.details:hover{
    background-color: #48b9ff;
    color: white;
    -webkit-transition: .17s all ease;
    -o-transition: .17s all ease;
    transition: .17s all ease;
}
#sources{
    display:block;
    margin: 10px;
    cursor: pointer;
    color: #b3b3b3;
    font-style: italic;

}
.sources_list{
    display: none;
    color: #b3b3b3;
    font-style: italic;
}
.sources_list > li > a{
    color: #b3b3b3;
    text-decoration: none;
}
.sources_list > li > a:visited{
    color: #808080;
    text-decoration: none;
}




/*--------------------Filter-----------------------*/
#filter{
    display: block;
}

.filter_unwrap{
   text-align: center;
    display: none;
    margin: 0 10px 10px;
    padding: 10px;
    border-bottom: 1px solid #48b9ff ;
    background-color: #74aeedaf;
    color: #fff;
    border-radius: 10px;
}
.filter_unwrap:hover{
    -webkit-transition: .17s all ease;
    -o-transition: .17s all ease;
    transition: .17s all ease;
    background-color: #48b9ff;
}
.filter_arrow{
    height: 25px;
    margin: auto 0;
    display: inline-block;
    position: absolute;
    top: 30%;
    right: 10px;
    -webkit-transition:  -webkit-transform .2s ease;
    transition:  -webkit-transform .2s ease;
    -o-transition:  transform .2s ease;
    transition:  transform .2s ease;
    transition:  transform .2s ease, -webkit-transform .2s ease;
}

.filter_headline > h4{
   text-align: left;
   padding-left: 10px;
}
.filter_headline{
    position: relative;
    border: 1px solid #f5f5f5ec;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(219,219,219,0.29);
    box-shadow: 0px 2px 2px 2px rgba(219,219,219,0.29);
    cursor: pointer;
}
.filter_wrap{
    margin-bottom: 15px;
}
.filter_wrap:hover{
    -webkit-transition: .17s all ease;
    -o-transition: .17s all ease;
    transition: .17s all ease;
    border-bottom: 1px solid #48b9ff;
}
.filter_clear{
    
    display: block;
    padding: 10px 0;
    text-align: center;
    border: 1px solid #48b9ff;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(219,219,219,0.29);
    box-shadow: 0px 2px 2px 2px rgba(219,219,219,0.29);
    border-radius: 4px;
}
.filter_clear:hover{
    background-color: #48b9ff;
    color: white;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.filter_checkboxes{
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #f5f5f5ec;
    padding: 10px;
    border-top-style: none;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(219,219,219,0.29);
    box-shadow: 0px 0px 2px 2px rgba(219,219,219,0.29);
}

.checkbox{
    margin-bottom: 5px;
   display: inline-block;
 }

 body:after, body.closed:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 2;
    height: 100%;
    width: 100%;
    display: none;
  }
body.closed:after{
    display: block;
}
.close_btn{
    position: absolute;
    width: 20px;
    top: 23px;
    right: 20px;
    display: none; /* в медийке block*/
}
.close_click {
    cursor: pointer;
    stroke:#fff;
    fill:#fff;
    fill-opacity:0;
    stroke-opacity:0;
  }
/*============================Catalog_Search=====================*/
input{
    width: 96.5%;
    height: 35px;
    padding-left: 10px;
    border-radius: 5px;
    display: block;
    margin: 15px auto; 
    font-family: 'Nunito', sans-serif;

}
 #error{
    width: 96.5%;
    margin: 15px auto; 
    font-size: 22px;
} 
.block_hidden{
    display: none;
} 
.clear_btn{
    fill: rgb(94, 94, 94);
    padding: 3px;
    position: absolute;
    height: 20px;
    top: 18%;
    right: 1.7%;
}
.clear_click{

fill-opacity:0;
    stroke-opacity:0;
}
.clear_btn:hover{
    cursor: pointer;
    fill: #000;
}
/*--------------------CheckboxStyle------------------*/


.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 33px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 15%;
    left: 4px;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: 0px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #48b9ff;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background-color: #4f9ae9;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    -webkit-box-sizing: unset;
            box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}



/*---------------------FOOTER--------------------------*/

#footer{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.footer_section{
    
    width: 50%;
    height: 100%;
}

.footer_section_headline{
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    font-size: 20px;
}
.nav_footer{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    
}

.footer_nav_element{
    font-size:1.25rem;
    color: white;
    margin-top: 20px;
    
    text-align: center;
    padding-left: 5px;
    cursor: pointer;
    text-decoration: none;
    
}
.footer_nav_element:hover{
    font-weight: 700;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.footer_icons, .footer_rights{
    width: 100%;
    padding-bottom: 10px;
    background-color: #474747;
    
}
.footer_rights{
    color: #6d6d6d;
    text-align: center;
}
.icons_wrap{
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack:space-evenly;
    -webkit-justify-content:space-evenly;
        -ms-flex-pack:space-evenly;
            justify-content:space-evenly;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 33%;
}


/*--------------------Media_Queries----------------*/
@media screen and (min-width:1350px){
    body:after, body.closed:after{
        display: none;
    }
}

@media screen and (max-width:1350px){
    body{
        display:block;
        margin: 0 auto;
    }
    .home_page_paragragh{
        text-align: center;
        width: 75%;
        margin: 5px auto;
        
    }
    .home_page_headline{
        text-align: center;
    }
    #header{
        text-align: center;
        
    }
    .nav_header{
        
        display: -webkit-box;
        
        display: -webkit-flex;
        
        display: -ms-flexbox;
        
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        width:100%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .nav_header_link{
        display: block;
        
        margin: 0 15px 15px 0;
        width: 22%;
        
    }

    .nav{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        margin: 25px auto 0px;
        -webkit-box-pack: space-evenly;
        -webkit-justify-content: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        width: 75%;
    }
    
    .nav_headline{
        display: none;
    }

    .nav_element{
        padding:5px;
        margin-right: 10px;
        background-color: #fff;
        text-align: center;
        border-bottom: 1px solid #48b9ff;
        border-radius: 1px;
        display: inline-block;
        vertical-align: 50%;
        width: 20%;
    }
    input{
        width: calc(100% - 35px);
    }
    /*--------------Filter-----------------*/
    #filter{
        display: none;
        overflow: auto;
        position: fixed;
        height: 100%;
        z-index: 3;
        width: 50%;
        top: 0;
        left: 0;
        background-color: #fff;
        
    }
    .filter_unwrap{
        display: block;
    }
    .filter_wrap {
        margin: 15px;
    }
    .close_btn{
        display: block;
    }
    .filter_clear{
        margin: 0 15px;
    }
    #error{
        margin: 0 auto;
    }

}

@media screen and (max-width:888px){

    .nav{
        display: none;
    }
    
    .home_page_headline{
        font-size: 1.2rem;
    }
    #filter{
        width: 65%;
    }
}
@media screen and (max-width:760px){
    .header_flex{
        padding-top: 15px;
    }
    .logo_wrap{
        margin: 0 0 25px 55px;
        height: unset;
    }
    .logo{
        height: 86px;
    }
    .logo_headline{
        width: 400px;
        text-align: left;
        padding-left: 10px;
        
    }
    .nav_header_link{
        width: 33%;
        
    }
  
    .item_desc{
        margin-bottom: 10px;
    }
    #footer{
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .footer_section_headline{
        margin-bottom: 2%;
    }
    .footer_nav_element{
        margin-top: 4%;
        
    }
    .footer_section{
       border-left: none;
       width: 50%;
    }
    .footer_section:last-child .footer_section_headline{
        display: none;
    }
     .icons_wrap{
         width: 75%;
     }
     
}
@media screen and (max-width:560px){
    .logo{
       
        top: 2vw;
        height: 14vw;
    }
    
    .logo_wrap{
       
        margin:0;
        height: auto;
    }
    .logo_headline{
        font-size: 5vw;
        width: 55%;
    }
  
    .header_flex{
        padding-top: 15px;
    }
    .home_page_paragragh{
        font-size: 1em;
    }
    li{
        font-size: 1em;
        margin-right: 30px;
    }
    .icons_wrap{
        width: 100%;
    }
    .nav_header_link{
        width: 60%;
        margin-top: 10px;
    }
    .item_desc_wrap{
        display: block;
    }
    .item_image{
        margin: 10px auto;
        height: 40vw;
        display: block;
    }
    .item_desc{
        margin: 0 auto 15px;
        width: 90%;
        font-size: 1em;
    }
    .item_subdesc{
        margin: 0 auto 15px;
        width: 90%;
    }
    .details{
        position: static;
        width: 50%;
        margin: 0 auto 10px auto;
        text-align: center;
    }
    #filter{
        width: 100%;

    }
    .clear_btn{
       right: 3.7vw;
    }
}