/*-----------------GENERALS---------------------*/
#header{
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: header;
    position: relative;
    
}
#nav{
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-area: nav;
    margin-left: 15px;
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}
#article{
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 3;
    grid-column: 3;
    grid-area: article;
    margin-top: 20px;
}
#side{
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 5;
    grid-column: 5;
    grid-area: side;
}
.webplossless #footer{
    background: url("img/webp/footer/footer3.webp") no-repeat center / cover;
}
#footer{
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: footer;
    -webkit-box-shadow: 0px -9px 37px -22px rgba(77,77,77,1);
            box-shadow: 0px -9px 37px -22px rgba(77,77,77,1);
    background: url("img/footer/footer3.jpg") no-repeat center / cover;
    margin: 0;
    height: 300px;
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}


body{
    display: -ms-grid;
    display: grid;
            grid-template-areas: 
    "header header header"
    "nav article side"
    "footer footer footer";
    -ms-grid-rows: 110px 3vh 1fr 3vh 60px;
    grid-template-rows: 110px 1fr 60px;
    -ms-grid-columns: 20% 3vh 1fr 3vh 15%;
    grid-template-columns: 20% 1fr 15%;
    font-family: 'Nunito', sans-serif;
    height: 100%;
    grid-gap: 3vh;
    margin: 0 auto;
    
}
.container{
    max-width:775px;
    width:100%; 
    margin: 0 auto;
    
}

/*-----------------------HEADER-------------------*/

.header_flex{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    height: 88%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; 
    background: url("img/backgroundv41.png") no-repeat center / cover;

}
.logo_wrap{
    height:86px; 
}
.logo{
    height: 42px;
    cursor: pointer;
    position: relative;
    top: 10px;
    right: 5px;
}

.home_page_headline{
    display: block;

    margin: 15px 5px;
}
.home_page_headline, .logo_headline{
    font-family: 'Source Sans Pro', sans-serif;
}
.logo_headline{
    font-size:32px;
    border-left: 2px solid #f5f5f5ec;
    padding: 0 0 0 7px;
    display: inline-block;
    color: #4d4d4d;
    
}

.nav_header_link{
    background-color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #48b9ff;
    border-radius:37px;
    padding: 10px 15px;
    width: 100%;
    text-align:center;
    margin-left:15px;
    cursor: pointer;
    position: relative;
}

.nav_header_link:first-child{
    margin-left:0
}

.nav_header_link:hover{
    background-color: #48b9ff;
    color: white;
    -webkit-transition: .17s all ease;
    -o-transition: .17s all ease;
    transition: .17s all ease;
}

/*------------------NAVIGATION-------------------------*/

.nav_element{
    background-color:#f5f5f5;
    margin-bottom: 10px;
    padding-left: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.nav_element:hover{
    background-color: #48b9ff;
    color: white;
    -webkit-transition: .17s all ease;
    -o-transition: .17s all ease;
    transition: .17s all ease;
}

/*-----------------------ARTICLE----------------------*/

.home_page_paragragh{

    font-size:1.2rem;
    text-align: left;
    line-height: 1.5rem;
}

.google_map{
    display: block;
    margin: 10px auto;
}

#sources{
    display:block;
    margin: 10px;
    cursor: pointer;
    color: #b3b3b3;
    font-style: italic;

}
.sources_list{
    display: none;
    color: #b3b3b3;
    font-style: italic;
}
.sources_list > li > a{
    color: #b3b3b3;
    text-decoration: none;
}
.sources_list > li > a:visited{
    color: #808080;
    text-decoration: none;
}
.corona{
    width: 100%;
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.2);
    border-radius: 10px;
    
}
.corona_paragraph{
    padding: 20px;
}
.warning_img{
    width: 8px;
    margin-right: 5px;
}


/*------------------SIDE-----------------*/

.anchor_button{
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 25px;
    background-color: white;
    padding: 5px;
    -webkit-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
    display: none;
}
.anchor_button:hover{
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.25);
    cursor: pointer;
}

/*----------------------Transport---------------------------*/
.link{
    text-decoration: none;
    color:#48b9ff;
    
}

.link:hover{
    color:#4e9bee;
}

/*------------------------Showplaces-------------------------------*/
#showplaces{
    position: relative;
    margin-bottom: 65px;
}

.slider{
    
    
    width:100%;
    margin: 0 auto;
   
    position: relative;
}

.slider_element_headline{
    padding-left:5px;
    margin:10px 10px;
    height: auto;
}

.slider_element_img{
    width:170px;
    height: 160px;
    padding-left: 15px;
    
}

.slider_element_text{
    font-size:0.9rem;
    margin: 5px 15px;

}

.slider_element .link{
    margin:0 0 5px 15px;
    
}
.slider_headline_link{
    text-decoration: none;
     color: black;
}
.button_img{
    height: 25px;
    top: 50%;
    position: absolute;
    padding: 35px 5px;
    display: block;
    z-index: 2;
    -webkit-box-shadow: 0px 0px 13px 1px rgba(68, 68, 68, 0.1);
    box-shadow: 0px 0px 13px 1px rgba(68, 68, 68, 0.1);
}
.button_img:hover{
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.2);
    cursor: pointer;
}
.next{
    right: -10%;
    
}

.back{
    left: -10%;
}

/*-------------------Weather----------------------------*/
#weather{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    margin: 0 auto 15px;
    width: 90%;

}

.gismeteo-informer{
    width: 263px;
    display: inline-block;
    height: 150px;
}

#weather .home_page_paragragh{
    display: inline-block;
    text-align: left;
    width: 50%;
   
}

/*---------------------FOOTER--------------------------*/

.footer_section{
    
    width: 50%;
    height: 100%;
}

.footer_section_headline{
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    font-size: 20px;
}
.nav_footer{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    
}

.footer_nav_element{
    font-size:1.2rem;
    color: white;
    margin-top: 16px;
    
    text-align: center;
    padding-left: 5px;
    cursor: pointer;
    text-decoration: none;
    
}
.footer_nav_element:hover{
    font-weight: 700;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.footer_icons{
    width: 100%;
    padding-bottom: 10px;
    background-color: #474747;
    
}

.icons_wrap{
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack:space-evenly;
    -webkit-justify-content:space-evenly;
        -ms-flex-pack:space-evenly;
            justify-content:space-evenly;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 33%;
}
.footer_rights{
    color: #6d6d6d;
    text-align: center;
}
.footer_icons, .footer_rights{
    width: 100%;
    padding-bottom: 10px;
    background-color: #474747;
    
}

/*--------------------Media_Queries----------------*/

@media screen and (max-width:1350px){
    body{
        display:block;
        margin: 0 auto;
    }
    .home_page_paragragh{
        text-align: center;
        width: 75%;
        margin: 5px auto;
        
    }
    .home_page_headline{
        text-align: center;
    }
    #header{
        text-align: center;
        
    }
    .nav_header{
        
        display: -webkit-box;
        
        display: -webkit-flex;
        
        display: -ms-flexbox;
        
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        width:100%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .nav_header_link{
        display: block;
        
        margin: 0 15px 15px 0;
        width: 22%;
        
    }

    #nav{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        margin: 25px auto 0px;
        -webkit-box-pack: space-evenly;
        -webkit-justify-content: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        width: 75%;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    
    .nav_headline{
        display: none;
    }

    .nav_element{
        padding:5px;
        margin-right: 10px;
        background-color: #fff;
        text-align: center;
        border-bottom: 1px solid #48b9ff;
        border-radius: 1px;
        display: inline-block;

    }
}
@media screen and (max-width:1100px){
    
        #showplaces{
            width: 62%;
            margin: 20px auto 65px;
        }

        .slider_element{
            width: 100%;
        }
    
        .slider_element_img{
            margin: 0 auto;
            display:block;
            width:50%;
            height: 30%;
        }
        .slider_element_headline{
            text-align: center;
            font-size: 1.25rem;
        }
    
        .slider_element_text{
            text-align: center;
            margin: 10px auto;
        }
        .slider_element .link{
            display: block;
            text-align: center;
            font-size: 1.2rem;
        }

        .nav_element{
            width: 30%;
        }
        
}
@media screen and (max-width:888px){
    #nav{
        display: none;
    }
     .home_page_headline{
        font-size: 1.4em;
    } 
    .corona{
        width: 88%;
        margin: 0 auto;
    }
}
@media screen and (max-width:760px){
    .header_flex{
        padding-top: 15px;
    }
    .logo_wrap{
        margin: 0 0 25px 55px;
        height: unset;
    }
    .logo{
        height: 86px;
    }
    .logo_headline{
        width: 400px;
        text-align: left;
        padding-left: 10px;
    }
    .nav_header_link{
        width: 33%;
        
    }
  
    #weather{
        display: block;
    }
    .gismeteo-informer{
        margin: 0 auto;
        display: block;
    }
    #weather .home_page_paragragh{
        width: 100%;
        text-align: center;
    }
    #weather .home_page_paragragh span{
        position: static;
        
         
     }
     #footer{
         -webkit-flex-wrap: wrap;
             -ms-flex-wrap: wrap;
                 flex-wrap: wrap;
     }
     .footer_section_headline{
         margin-bottom: 2%;
     }
     .footer_nav_element{
         margin-top: 4%;
         
     }
     .footer_section{
        border-left: none;
        width: 50%;
     }
     .footer_section:last-child .footer_section_headline{
         display: none;
     }
      .icons_wrap{
          width: 75%;
      }


}
@media screen and (max-width:560px){
    .logo{
       
        top: 2vw;
        height: 14vw;
    }
    
    .logo_wrap{
       
        margin:0;
        height: auto;
    }
    .logo_headline{
        font-size: 5vw;
        width: 55%;
    }

    .header_flex{
        padding-top: 15px;
    }
    .home_page_paragragh{
        font-size: 1em;
    }
    .icons_wrap{
        width: 100%;
    }
    .nav_header_link{
        width: 60%;
        margin-top: 10px;
    }

    .slider_element_img{
        width: 75%;
    }
    .next{
        right: -20%;
        
    }
    .back{
        left: -20%;
    }

}